{% extends 'voter_analytics/base.html' %}

{% block content %}
{% for b in voters.say_anything %}
    {{b}}
{% endfor %}
<form action="{% url 'voters' %}">
    <table  class="filters">
        <tr>
            <th>Voter Score</th>
            <td>
                <select id="voter_score" name="voter_score">
                    <option value='None'></option>
                    <option value='0'>0</option>
                    <option value='1'>1</option>
                    <option value='2'>2</option>
                    <option value='3'>3</option>
                    <option value='4'>4</option>
                    <option value='5'>5</option>

                </select>
            </td>
        </tr>

    </table>

    <table  class="filters">
        <tr>
            <th>Party Affiliation</th>
            <td>
                <select id="party_affiliation" name="party_affiliation">
                    <option value='None'></option>
                    <option value='D'>Democrat</option>
                    <option value='R'>Republican</option>
                    <option value='CC'>Constitution PArty</option>
                    <option value='L'>Libertarian Party</option>
                    <option value='T'>Tea Party</option>
                    <option value='O'>Other</option>
                    <option value='G'>Green Party</option>
                    <option value='J'>Independent Party</option>
                    <option value='Q'>Reform Party</option>
                    <option value='FF'>Freedom Party</option>
                </select>
            </td>
        </tr>
    
        <tr>
            <td></td>

        </tr>
    </table>

    <table  class="filters">
        <tr>
            <th>Minimum Year of Birthday</th>
            <td>
                <select id="birth_date" name="min_birthday">
                    <option value='None'></option>
                    {% for b in birth_years %}
                        <option value={{b}}>{{ b }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
    
    </table>

    <table  class="filters">
        <tr>
            <th>Maximum Year of Birthday</th>
            <td>
                <select id="birth_date" name="max_birthday">
                    <option value='None'></option>
                    {% for b in birth_years %}
                        <option value={{b}}>{{ b }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>

    </table>

    <table class="filters">
        <th>Did they vote in these elections:</th>
        <tr>
            <td>
                <input type="checkbox" id="v20state" name="v20state" value="v20state">
                <label for="v20state"> The v20 State election.</label><br>

                <input type="checkbox" id="v21town" name="v21town" value="v21town">
                <label for="v21town"> The v21 Town election.</label><br>

                <input type="checkbox" id="v21primary" name="v21primary" value="v21primary">
                <label for="v21primary"> The v21 Primary election.</label><br>

                <input type="checkbox" id="v22general" name="v22general" value="v22general">
                <label for="v22general"> The v22 General election.</label><br>

                <input type="checkbox" id="v23town" name="v23town" value="v23town">
                <label for="v23town"> The v23 Town election.</label><br>

                
            </td>

            
        </tr>
        <th><input class="filter" type="submit"></th>
        

    </table>
    

</form>

    <table class="voters">
        <tr class="voters" style="background-color: rgb(175, 4, 4); color:rgb(169, 169, 169);">
            <th class="voters">Voter Info</th>
            <th class="voters">Last Name</th>
            <th class="voters">First Name</th>
            <th class="voters">Street Address</th>
            <th class="voters">Zip Code</th>
            <th class="voters">Birthday</th>
            <th class="voters">Registeration Date</th>
            <th class="voters">Party Affiliation</th>
            <th class="voters">Precient Number</th>
            <th class="voters">V20State</th>
            <th class="voters">V21Town</th>
            <th class="voters">V21Primary</th>
            <th class="voters">V22General</th>
            <th class="voters">V23Town</th>
            <th class="voters">Voter Score</th>
        </tr>

        {% for v in voters %}
        <tr class="voters">
            <td class="voters" >
                <a style="color:rgb(68, 15, 158);" href="{% url 'voter' v.pk %}">Info Link</a>
            </td>

            <td class="voters">
                {{v.last_name}}
            </td>

            <td class="voters">
                {{v.first_name}}
            </td class="voters">

            <td class="voters">
                {{v.street_number}} {{v.street_name}} {{v.apartment_number}}
            </td class="voters">



            <td class="voters">
                {{v.zip_code}}
            </td class="voters">

            <td class="voters">
                {{v.birth_date}}
            </td class="voters">

            <td class="voters">
                {{v.register_date}}
            </td class="voters">

            <td class="voters">
                {{v.party_affiliation}}
            </td>

            <td class="voters">
                {{v.precient_number}}
            </td>

            <td class="voters">
                {% if v.v20state == "TRUE" %}
                    Voted
                {% else %}
                    Didn't Vote
                {% endif %}
            </td>

            <td class="voters">
                {% if v.v21town == "TRUE" %}
                    Voted
                {% else %}
                    Didn't Vote
                {% endif %}
            </td>

            <td class="voters">
                {% if v.v21primary == "TRUE" %}
                    Voted
                {% else %}
                    Didn't Vote
                {% endif %}
            </td>

            <td class="voters">
                {% if v.v22general == "TRUE" %}
                    Voted
                {% else %}
                    Didn't Vote
                {% endif %}
            </td>

            <td class="voters">
                {% if v.v23town == "TRUE" %}
                    Voted
                {% else %}
                    Didn't Vote
                {% endif %}
            </td>

            <td class="voters">
                {{v.voter_score}}
            </td>
        </tr>

        {% endfor %}
    </table>

    {% if is_paginated %}

    <div style="margin-top:10px; margin-bottom:10px; margin-left:25px;" class="page">
        {% if page_obj.has_previous %}
        <a style="font-family:cursive;" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        

        {% if page_obj.has_next %}
        
            
                <span style="font-family:cursive;">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                <a style="font-family:cursive;" href="?page={{ page_obj.next_page_number }}">Next</a>
            

        {% endif %}
    </div>

    {% endif %}
   


{% endblock %}