{% load static %}

<html>
    <head>
        <title>Mini Facebook</title>
        <link rel="stylesheet" href="{% static 'mini-fb.css' %}">
    </head>

    <body>
    

    <h1>Shrunken Facebook</h1>

    {% if request.user.is_authenticated %}
        Logged in user: {{ request.user }}.<br>
        <a class="button" href = "{% url 'show_profile' request.user.profile.pk %}">Your Profile</a>
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="submit" value="Logout">
        </form>
    {% else %}
        Not logged in.
    {% endif %}<br>


    <div class="links">
        <a class="button" href="{% url 'show_all_profiles' %}">All Profiles</a>
        <a class="button" href="{% url 'info' %}">About Us</a>
        {% if request.user.is_authenticated %}
        
        {% else %}
        <a class="button" href="{% url 'login' %}">Login</a>
        {% endif %}
        <a class="button" href="{% url 'create_profile_form' %}">Create Profile</a>
    </div>

    {% block content %}

    {% endblock %}

    <div class="footer">
        <i>2024, all rights reversed.</i>
    </div>

    </body>
</html>