{% load static %}

<html>
    <head>
        <title>Mini Facebook</title>
        <link rel="stylesheet" href="{% static 'mini-fb.css' %}">
    </head>

    <body>
    

    <h1>Shrunken Facebook</h1>


    <div class="links">
        <a class="button" href="{% url 'show_all_profiles' %}">Profiles</a>
        <a class="button" href="{% url 'info' %}">About Us</a>
        <a class="button" href="{% url 'create_profile_form' %}">Create Profile</a>
    </div>

    {% block content %}

    {% endblock %}

    <div class="footer">
        <i>2024, all rights reversed.</i>
    </div>

    </body>
</html>