{% extends 'mini_fb/base.html' %}
{% load static %}

{% block content %}
<h2>Post Status Message for  {{ profile.first_name }} {{profile.last_name}}</h2>
<form method="POST" enctype="multipart/form-data">
    
    <div class="ending">
        {% csrf_token %}

        
        {{form.text}}
        <br>
        <i style="font-family:cursive">Insert Images</i> <br>
        <input type="file" name ="files" value="Choose Images" multiple />
    </div>

    <input type="submit" name="submit" value="Submit Message">

    

</form>

<form action="{% url 'show_profile' profile.pk %}">
    <input type="submit" name="Cancel" value="Cancel" style="margin-left:20px">
</form>

{% endblock %}