{% extends 'mini_fb/base.html' %}
{% load static %}

{% block content %}
    <div class="overseer-two">
        <h2><u>About You</u></h2>

        <p class="three">That's right. It was never about the 
            community; it was always focused on solely
            you. It's holding up a mirror to your interests,
            your psychological impulses, your deepest and 
            most repressed insecurities. Who were you? Who is 
            the person that you want to become? Who is the person 
            that you want to move away from being, and is it 
            truly possible to let that part of yourself go? The purpose of the 
            Shrunken Facebook is to help you connect with all of your 
            friends, to know them better. But it turns out that the 
            friend that knows you the best...is you.

        </p>

    </div>
{% endblock %}