{% extends 'mini_fb/base.html' %}
{% load static %}

{% block content %}

    <p  style="margin-top:10px;"></p>
    <div class="overseer-two">
        <form method='GET' action="{% url 'show_profile' profile.pk %}"  style="margin-top:10px;">
            <input type='submit' name = 'cancel' value= 'Back to Profile Page'>
        </form>

        <h2>{{profile.first_name}} {{profile.last_name}}'s News Feed</h2>

        <div class="messages">
        {% for s in profile.get_news_feed %}

            <img style="height:30px;width:30px; border-radius: 20px;" src="{{s.profile.profile_image_url}}" alt="{{s.profile.profile_image_url}}"> <div class="posted"><b>{{s.profile.first_name}} {{s.profile.last_name}}</b> <i>posted at: {{s.timestamp}}</i></div>

            {{s.text}}
                <br>
            {% for img in s.get_images %}
                <img class="status" src='{{img.image_file.url}}' alt='{{img.image_file.url}}'>
            {% endfor %}
            <hr>
        {% endfor %}
        </div>

    </div>

{% endblock %}