{% extends 'mini_fb/base.html' %}
{% load static %}

{% block content %}
    <div class="overseer-two">
    <h2>A Profile</h2>
    <div class="group-alone">
        
        <div class="image">
            <img class="personal" src="{{profile.profile_image_url}}" alt="{{profile.profile_image_url}}">
        </div>
        <div class="profile_info">
            <ul>
                <li><b>NAME:</b> <p2 color="red">{{ profile.first_name }} {{ profile.last_name }}</p2></li>
                <li><b>CITY:</b> <u>{{ profile.city }}</u></li>
                <li><b>EMAIL:</b> <i>{{ profile.email_address }}</i></li>
            </ul>
        </div>
    </div>
    

    <h2>Status Forms For {{ profile.first_name }} {{profile.last_name}}</h2>

    <div class="status">
    <a class="post" href="{% url 'update_profile' profile.pk %}">Update Profile</a>
    <a class="post" href="{% url 'create_status_form' profile.pk %}">Post Status Form</a>

    
    {% if profile.get_status_messages %}

        <ul>
        {% for m in profile.get_status_messages %}

            
            <div class="messages";>
                <li>
                    {{m.text}}<br>
                    <div class="posted">{{ profile.first_name }} {{profile.last_name}} posted at {{ m.timestamp }}</div>
                </li>
                
            </div>

            {% for img in m.get_images %}
                <img src='{{img.image_file.url}}' alt='{{img.image_file.url}}'>
            {% endfor %}

        {% endfor %}
        </ul>

    {% else %}

        {% if profile.pk|divisibleby:4 or profile.pk|divisibleby:5 %}   
            <h2>EGG</h2>
        {% else %}
            <h2>A bit lonely 'er.</h2>
        {% endif %}

    {% endif %}
    </div>
    </div>




{% endblock %}