{% extends 'mini_fb/base.html' %}
{% load static %}

{% block content %}
    <div class="overseer">
        <h2><u>Your Best Friends</u></h2>
    <div class="group">
    {% for p in profiles %}
            

            <div class="profile">
                <a href = "{% url 'show_profile' p.pk %}">
                    <div class="image">
                        
                            <img class="all" src="{{p.profile_image_url}}" alt="{{p.profile_image_url}}">
                        
                    </div>  
                    <p><b>{{p.first_name}} {{p.last_name}}</b></p>
                    <p class="two">{{p.city}}</p>
                    <p class="two"><i>{{p.email_address}}</i></p>
                </a>
            </div>

    {% endfor %}
    </div>
    </div>
{% endblock %}