{% extends 'mini_fb/base.html' %}
{% load static %}

{% block content %}
<img src="{{profile.profile_image_url}}" alt="{{profile.profile_image_url}}">
    {{ profile.first_name }}
    {{ profile.last_name }}
    {{ profile.city }}
    {{ profile.email_address }}

    <a class="button" href="{% url 'create_status_form' profile.pk %}">Status Form</a>

    {% if profile.get_status_messages %}

        {% for m in profile.get_status_messages %}

            by {{ m.timestamp }}

                {{m.text}}

        {% endfor %}

    {% else %}

        {% if profile.pk|divisibleby:4 or profile.pk|divisibleby:5 %}   
            <h2>EGG</h2>
        {% else %}
            <h2>A bit lonely 'er.</h2>
        {% endif %}

    {% endif %}




{% endblock %}