{% extends 'quotes/base.html' %}
{% load static %}

{% block content %}
    <h1>About Mamoru Oshii</h1>
    <img src= "{% static 'images/egg.gif' %}" alt="Mamoru Oshii" width="400" height="222">
    <p>
        Mamoru Oshii is a famous Japanese director behind numerous philosophically-bent anime,
        such as <i>Ghost in the Shell</i>, <i>Angel’s Egg</i>, and <i>Urusei Yatsura 2: Beautiful Dreamer</i>. He studied at Tokyo 
        Gakugei University, after which he storyboarded at Taksunoko
        Productions, and then became an animator at Studio Perrot, the studio that 
        made <i>Urusei Yatsura</i>. His works 
        tend to draw heavily from the Bible and Christianity - such as the rebirth imagery in Angel’s Egg 
        - and tend to rely heavily on surrealism and methodical pacing to communicate their ideas onscreen. 
        Oshii’s work has been a huge influence on numerous Hollywood productions, such as <i>The 
        Matrix</i> and <i>Groundhog Day</i>.
    </p>

    <h1>A Personal Note</h1>
    <p>
        The hardest part wasn't creating the website, but having to 
        configure the Django and Heroku to work on this application. That said,
        it will be worth it if I get at least one more person to watch 
        <i>Angel's Egg</i>.
    </p>


{% endblock %}