{% extends 'quotes/base.html' %}
{% load static %}

{% block content %}
    <h1>About Mamoru Oshii</h1>
    <img src= "{% static 'images/egg.gif' %}" alt="Mamoru Oshii" width="400" height="222">
    <p>
        Mamoru Oshii is a famous Japanese director behind numerous philosophically-bent anime,
        such as Ghost in the Shell, Angel’s Egg, and Urusei Yatsura 2: Beautiful Dreamer. His works 
        tend to draw heavily from the Bible and Christianity - such as the rebirth imagery in Angel’s Egg 
        - and tend to rely heavily on surrealism and methodical pacing to communicate their ideas. 
        Oshii’s work has been a huge influence on numerous Hollywood productions, such as The 
        Matrix and Groundhog Day.
    </p>


{% endblock %}