<!--quotes/templates/quotes/base.html
This is the page from which quote, about and show_all 
will inherit.
-->
{% load static %}
<html>
    <head>
        <title>Quotes from Mamoru Oshii</title>
        <link rel="stylesheet" href="{% static 'quote-styles.css' %}">
    </head>

    <body>
        <div>
            <nav>
                <ul>
                    <a href="{% url 'quote' %}">Quote of the Day</a>
                    <a href="{% url 'about' %}">About Website</a>
                    <a href="{% url 'show_all' %}">All Quotes</a>

                </ul>
            </nav>

            {% block content %}
            
            {% endblock %}

            <hr>
            <p>It's {{ current_time }}, and Mamoru Oshii is looking at you.</p>
        </div>

    </body>

</html>