<!--quotes/templates/quotes/base.html
This is the page from which quote, about and show_all 
will inherit.
-->
{% load static %}
<html>
    <head>
        <title>Quotes from Mamoru Oshii</title>
        <link rel="stylesheet" href="{% static 'quote-styles.css' %}">
    </head>

    
    <body>
        <h2>Mamoru Oshii</h2>
        <!--The buttons for the different pages.-->
        <nav>
            <ul>
                <a href="{% url 'quote' %}">Today's Quote</a>
                <a href="{% url 'about' %}">About Website</a>
                <a href="{% url 'show_all' %}">All Quotes</a>

            </ul>
        </nav>
        <div class="two">
            
            <!--This is where the information for the html pages will go.-->
            {% block content %}
            
            {% endblock %}

            <hr>
            <p2>It's {{ current_time }}, and Mamoru Oshii is looking at you.</p2>
        </div>

        <br>

        <div class="three">
            <p2>Donovan Eyer, dbeyer03@bu.edu</p2>
        </div>

    </body>

</html>