{% extends 'quotes/base.html' %}
{% load static %}

{% block content %}
    <h1>Quote of the Day</h1>
    <p>{{ the_quote }}</p>
    {% if the_pic == "oshii1.jpg" %}
        <img src= "{% static 'images/oshii1.jpg' %}" alt="Mamoru Oshii" width="400" height="400">
    {% elif the_pic == "oshii2.jpg" %}
        <img src= "{% static 'images/oshii2.jpg' %}" alt="Mamoru Oshii" width="400" height="400">
    {% else %}
        <img src= "{% static 'images/oshii3.jpg' %}" alt="Mamoru Oshii" width="400" height="400">
    {% endif %}
        
{% endblock %}